* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3f3f3;
}

.container {
  padding: 0px 3%;
}

.alert-bar {
  border-radius: 8px;
  height: 50px;
  background-color: #FF9500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 50px 10px 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.alert-bar p {
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}

.alert-bar a {
  text-decoration: none;
  color: white;

  &:hover {
    color: olivedrab;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8%;

}

header .logo img {
  width: 200px;

}

.nav-links ul {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  gap: 90px;
  font-family: monospace;
}

.nav-links ul li {
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #ddd;
  }
}

.nav-links ul a {
  color: black;
  text-decoration: none;
}

.nav-links ul li:last-child {
  background-color: orangered;
  color: white;

  &:hover {
    background-color: lightcoral;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8%;

}

header .logo img {
  width: 200px;

}

.nav-links ul {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  gap: 90px;
  font-family: monospace;
}

.nav-links ul li {
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #ddd;
  }
}

.nav-links ul a {
  color: black;
  text-decoration: none;
}

.nav-links ul li:last-child {
  background-color: orangered;
  color: white;

  &:hover {
    background-color: lightcoral;
  }
}

/* ============== main-section ==================*/

main {
  padding: 10px 8% 8% 8%;
  margin-top: 60px;
}

/*  ================== course-section===============  */


.courses-content {
  flex: 1;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  overflow-y: auto;

}

.courses-content h1 {
margin-bottom: 50px;
  font-size: 45px;
  color: rgb(68, 68, 68);
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.course-card {
  background-color: #dddddd71;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}

.course-card img {
  margin: 10px 0;
  border-radius: 8px;
  object-fit: contain;
  border: 1px solid #ccc;
  background-color: #fff;
  height: 150px;
  width: 100%;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: rgb(51, 51, 3);
}

.course-card p {
  font-size: 1rem;
  color: #444;
  margin-top: 20px;
  margin-bottom: 20px;
}






/* ================ footer ==================== */

footer {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px;
}

footer .left {
  width: 25%;
  padding: 20px;
}

footer .left .bottom-logo {
  text-align: center;
}

footer .left .bottom-logo img {
  height: 80px;
}

footer .left ul li {
  margin: 30px 0px;
  font-size: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  color: olive;
  cursor: pointer;

  &:hover {
    color: orange;
  }
}

footer .left ul li i {
  margin-right: 10px;
  font-size: 20px;
  color: #2c2b2b;
  cursor: default;
}

footer .left ul li a {
  color: olive;
  text-decoration: none;

  &:hover {
    color: orange;
  }
}


footer .right {
  height: 200px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

footer .right h3 {
  text-align: center;
  font-size: 23px;
  padding: 5px 10px;
  border-bottom: 1px solid #5b6e07af;

}

footer .right a {
  text-decoration: none;

}

footer .right a p,
.right .social-profile-section a i {
  padding: 0px 10px;
  text-transform: capitalize;
  font-size: 18px;
  margin: 20px 0px;
  color: #3b4705;
  transition: 0.1s ease-in;

  &:hover {
    color: olive;
  }

}

.right .social-profile-section a i {
  font-size: 40px;
  color: black;

}